.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.title {
  font-size: 2.6rem;
  font-weight: bold;
  margin: 3rem 0;
  text-transform: capitalize;
  background-color: transparent;
  color: var(--color-text);
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 70%;
  display: flex;
  padding: 10px;
  border: 0.1rem solid var(--color-white-grey);
  border-color: var(--color-white-grey);
  background-color: #fff;
  border-radius: 10px;
  margin: 4px 0;
  outline: none;
}

.input:focus-within {
  border: 2px solid var(--color-check);
}

.null {
  display: none;
}

.errorMessage {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
  padding: 4px 10px;
  color: var(--color-error);
  font-size: 12px;
  font-weight: 500;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-radius: 10px;
  padding: 10px;
  margin: 4px 0;
  background-color: var(--color-check);
  color: var(--color-white);
  font-weight: 600;
}

.button:hover {
  filter: brightness(1.05);
}

.desc {
  display: flex;
  color: var(--color-white-grey);
}

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  font-weight: 500;
  margin: 3rem 0;
  text-transform: capitalize;
  background-color: transparent;
  color: var(--color-grey);
}

.link {
  font-size: 0.8em;
  font-weight: 600;
  color: var(--color-dark-grey);
}
