.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.title {
  font-size: 2.6rem;
  font-weight: bold;
  margin: 3rem 0;
  text-transform: capitalize;
  background-color: transparent;
  color: var(--color-text);
}

.input {
  display: flex;
  width: 70%;
  padding: 10px;
  border: 0.1rem solid var(--color-white-grey);
  border-color: var(--color-white-grey);
  border-radius: 10px;
  margin: 4px 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-radius: 10px;
  background-color: var(--color-accent);
  color: var(--color-white);
  padding: 10px;
  margin: 4px 0;
  font-weight: 600;
}

.button:hover {
  filter: brightness(1.3);
}

.desc {
  display: flex;
  color: #9ea2a5;
}

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  font-weight: 500;
  margin: 3rem 0;
  text-transform: capitalize;
  background-color: transparent;
  color: var(--color-grey);
}

.link {
  font-size: 0.8em;
  font-weight: 600;
  color: var(--color-dark-grey);
}
