.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.2rem;
  margin: 0.1rem 0;
  color: var(--color-text);
  font-size: 1.2rem;
  font-weight: 400;
}

.cont {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
}

.checkbox {
  display: none;
}

.text {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.text::before {
  display: flex;
  width: 28px;
  height: 28px;
  content: "";
  border-radius: 50%;
  border: 2px solid #d1d7dc;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  cursor: pointer;
  margin-right: 12px;
}

.checkbox:checked ~ label {
  display: flex;
  color: var(--color-grey);
  text-decoration: line-through;
}

.checkbox:checked ~ label:before {
  color: var(--color-white);
  background-color: var(--color-check);
  border-color: var(--color-check);
  margin-right: 12px;
}

.input {
  flex: 1 0 auto;
  display: flex;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.button {
  display: flex;
  height: 100%;
  color: var(--color-text);
  margin-left: 4px;
}

.button:hover {
  transform: scale(1.2);
}

.icons {
  width: 18px;
  height: 18px;
}
